{%load static%}
<!-- {% load turbo_helper %} -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="{%static 'scripts/app.js'%}" type="module"></script>
        <link rel="stylesheet" href="{%static 'styles/style.css'%}">
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {%include 'shared/navbar.html'%}
        {%include 'shared/flash.html'%}
        <!-- <turbo-frame id="success-message">
            初始状态为空，等待通过 Turbo Stream 更新
        </turbo-frame> -->
        <main class="container mx-auto my-2">


        {% block content %}
        {%endblock%}
        </main>

    </body>
</html>
