{%extends 'layouts/base.html'%}

{%block content%}
<h1>登入</h1>
<form action="{%url 'users:sign_in'%}" method="post" autocomplete="off">
    {%csrf_token%}
    <div class="form-control">
        <label class="label">帳號</label>
        <input class="input" type="text" name="username"/>
    </div>
    <div class="form-control">
        <label class="label">密碼</label>
        <input class="input" type="password"  name="password"/>
    </div>

    <div>
        <button class="btn btn-primary">登入</button>
    </div>

{%endblock%}
